<h1>編集</h1>
<%= form_with model:@post, local: true do |f| %>
  <%= attachment_image_tag @post, :image, :fill, 120, 120 %><br>
  <%= f.attachment_field :image %>
  <h4>映画名</h4>
  <%= f.text_field :movie %>
  <h4>ひとこと</h4>
  <%= f.text_field :title %>
  <h4>もっと</h4>
  <%= f.text_area :body %>  
  <%= f.submit '保存' %>
<% end %>
  