<!--ゲストユーザーがログインしたときに表示-->
<% if flash[:notice] && current_member.name == "ゲスト" %>
  <p id="notice">
    <%= flash[:notice] %>
  </p>
<% end %>

<div class="container">
  <div class="row no-gutters">
    <h3 class="col-12 col-sm col-md-8 mt-5">All posts</h3>
    <div class="col-6 col-md-4 offset-md-10">
      <%= link_to 'new post', new_post_path %></div>
  </div>

  <h4>Tag list</h4>
  <% @tag_list.each do |list| %>
  <span>
    <%= link_to tag_posts_path(tag_id: list.id) do %>
      <%= "##{list.tag_name}" %>
    <% end %>
    <%= "(#{list.posts.count})" %>
  </span>
  <% end %>

  <%= render 'index', posts: @posts %>

</div>

<%= paginate @posts %>