<% if flash[:notice] %>
  <p id="notice">
    <%= flash[:notice] %>
  </p>
<% end %>

<h2>投稿一覧</h2>
<% @posts.each do |post| %>
<div>
  <%= attachment_image_tag post, :image, :fill, 120, 120, format: 'jpeg', fallback: "unnamed.jpg" %>
  <p>映画：
    <%= link_to post_path(post) do %>
      <%= post.movie %>
    <% end %>
    </p>
  <p>ひとこと：<%= post.title %></p>
</div>
<% end %>

<%= paginate @posts %>