<!--ゲストユーザーがログインしたときに表示-->
<% if flash[:notice] && current_member.name == "ゲスト" %>
  <p id="notice">
    <%= flash[:notice] %>
  </p>
<% end %>

<div class="container">
  <h3 class="mt-5">All posts</h3>
  <div class="text-right">
    <%= link_to new_post_path do %>
      <i class="fas fa-pencil-alt p-3 rounded-circle  shadow rounded" style="color: black;"></i>
    <% end %>
  </div>
  <div class="row no-gutters"></div>
  <% if @content != nil %>
    Posts search for '<%=@content%>'
  <% end %>
<!--投稿検索-->
  <% if member_signed_in? %>
    <%= form_tag(posts_path, method: :get) do %>
      <%= text_field_tag 'content', @content, placeholder:"検索はこちら" %>
      <%= submit_tag 'search' %>
    <% end %>
  <% end %>

  <% @tag_list.each do |list| %>
  <span>
    <%= link_to tag_posts_path(tag_id: list.id) do %>
      <%= "##{list.tag_name}" %>
    <% end %>
    <%= "(#{list.posts.count})" %>
  </span>
  <% end %>

  <%= render 'index', posts: @posts %>
</div>

<%= paginate @posts %>