<div class="container mt-5 mb-5" style="width: 800px;">
  <div class="row">

    <div class="col-lg-6 offset-col-xs-12">
      <div class="post-body">
        <%= attachment_image_tag @post, :image, :fill, 250, 250, fallback: "unnamed.jpg", size:'250x250' %>

        <div id="favorite-<%= @post.id %>">
          <%= render partial: "member/favorites/favorite-btn", locals: { post: @post } %>
        </div>

        <p><%= link_to "@#{@post.member.name}", member_path(@post.member.id) %></p>

        <% @post_tags.each do |tag| %>
        <span>
          <%= link_to tag_posts_path(tag_id: tag.id) do %>
            <%= "##{tag.tag_name}" %>
          <% end %>
        </span>
        <% end %>

        <p><i class="fas fa-film"></i><%= @post.movie %></p>
        <p><%= @post.title %></p>
        <p><%= @post.body %></p>
        <% if @post.member == current_member %>
          <%= link_to edit_post_path(@post) do %>
            <i class="far fa-edit" style="color: black;"></i>
          <% end %>
          <%= link_to post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' } do %>
            <i class="fas fa-trash" style="color: black;"></i>
          <% end %>
        <% end %>
      </div>
    </div>

    <!--コメント-->

    <div class="col-lg-6 offset-col-xs-12">
      <ul>
        <li class="comment_create comment-list-none">
          <h5 class="text-left title"><i class="far fa-comments"></i></h5>
        </li>
        <li id="comments_area">
          <%= render partial: 'member/comments/index', locals: { comments: @comments } %>
        </li>
      </ul>
      <% if member_signed_in? %>
        <div class="comment_create">
          <%= render partial: 'member/comments/form', locals: { comment: @comment, post: @post } %>
        </div>
      <% end %>
    </div>
  </div>
</div>