<div class="about">
  <div class="about-visual-content">
    <p class="about-visual-text">
      Here you can share<br>
      your impressions of <br>
      the movies you watched.
    </p>
  </div>

  <div class="d-flex justify-content-center">
    <div class="about-image scrollanime"><%= image_tag 'about2.jpg' %></div>
    <div class="about-text scrollanime">
      <strong>
        Feel free to post <br>
        your impressions of the movie.
      </strong><br><br>
      あなたの観た映画の感想を自由に投稿し、<br>
      多くの人と共有しましょう
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="about-text scrollanime">
      <strong>Let's "favorite".</strong><br><br>
      共感したものには「いいね」ができます
    </div>
    <div class="about-image scrollanime"><%= image_tag 'about3.jpg' %></div>
  </div>
  <div class="d-flex  justify-content-center">
    <div class="about-image scrollanime"><%= image_tag 'about4.jpg' %></div>
    <div class="about-text scrollanime">
      <strong>Let's "follow".</strong><br><br>
      気になるユーザーはフォローすることができます
    </div>
  </div>
  <div class="d-md-flex justify-content-center">
    <div class="about-form">
      <%= link_to 'contact us', inquiry_index_path %>
    </div>
    <div class="about-form">
      <%= link_to 'sign up', new_member_registration_path %>
    </div>
    <div class="about-form">
      <%= link_to 'log in', new_member_session_path %>
    </div>
  </div>
</div>