<div id="container">
  <div id="theTarget" class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><%= image_tag 'image1.jpg' %></div>
      <div class="swiper-slide"><%= image_tag 'image2.jpg' %></div>
      <div class="swiper-slide"><%= image_tag 'image3.jpg' %></div>
      <div class="swiper-slide"><%= image_tag 'image4.jpg' %></div>
      <div class="swiper-slide"><%= image_tag 'image5.jpg' %></div>
    </div>
    <!--<div class="swiper-pagination"></div>-->
    <div class="swiper-button-next" style="color: #F8F9FA;"></div>
    <div class="swiper-button-prev" style="color: #F8F9FA;"></div>
  </div>

  <div class="top-visual-content">
    <p class="top-visual-text">
      Welcome to <strong>My Movie Life</strong><i class="fas fa-film fa-spin"></i><br>
      Let's enjoy your movie life .
    </p>
  </div>

</div>