<% visitor = notification.visitor %>
<% visited = notification.visited %>
  <%= link_to member_path(visitor) do %>
    <%= attachment_image_tag visitor, :profile_image, :fill, 30, 30, format: 'jpeg', fallback: "unnamed.jpg", size:'30x30', class: "rounded-circle" %>
    <%= visitor.name %>
  <% end %>
    さんが

  <% case notification.action %>
  <% when 'follow' then %>
    <%= "あなたをフォローしました" %>
  <% when 'favorite' then %>
    <%= link_to 'あなたの投稿', notification.post, style: "font-weight: bold;" %>
    <%= "にいいねしました" %>
  <% when 'comment' then %>
    <%= link_to "あなたの投稿", notification.post, style: "font-weight: bold;" %>
    <%= "にコメントしました" %>
    <p class="text-muted mb-0"><%= Comment.find_by(id: notification.comment_id).body %></p>
  <% end %>

  <small class="text-muted text-right"><%= time_ago_in_words(notification.created_at) %> ago</small>

  <hr>