<% if members.count > 0 %>
  <table class="table mx-auto mt-3">
    <thead class="thead-light">
      <tr>
        <th></th>
        <th scope="col">name</th>
        <th scope="col" class="hidden">follows</th>
        <th scope="col" class="hidden">followers</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

    <% members.each do |member| %>
      <tr>
        <td>
          <%= link_to member_path(member) do %>
            <%= attachment_image_tag member, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size:'40x40', class:'rounded-circle' %>
          <% end %>
        </td>
        <td>
          <%= link_to member_path(member) do %>
            <%= member.name %>
          <% end %>
        </td>
        <td class="hidden"><%= member.follower.count %></td>
        <td class="hidden"><%= member.followed.count %></td>
        <% if current_member != member %>
        <td>
          <% if current_member.following?(member) %>
            <%= link_to 'unfollow', member_relationships_path(member), method: :delete, class: "btn btn-outline-secondary" %>
          <% else %>
            <%= link_to 'follow', member_relationships_path(member), method: :post, class: "btn btn-outline-primary" %>
          <% end %>
        </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <div class="mx-auto mt-3" style="width: 80%;">No users</div>
<% end %>


