<div class="container">
  <div class="row no-gutters">
    <h3 class="col-12 col-sm col-md-8 mt-5">All users</h3>
  </div>
<!--ゲストユーザーが編集画面に遷移したときのアラート-->
<% if flash[:alert] %>
  <p id="alert">
    <%= flash[:alert] %>
  </p>
<% end %>

<% if @content != nil %>
  Users search for '<%=@content%>'
<% end %>
<!--ユーザー検索-->
<% if member_signed_in? %>
  <%= form_tag(members_path, method: :get) do %>
    <%= text_field_tag 'content', @content, placeholder:"検索はこちら" %>
    <%= button_tag :type => "submit" do %>
      <i class="fas fa-search"></i>
    <% end %>
  <% end %>
<% end %>

  <div class="d-lg-flex d-md-flex my-box-light flex-wrap mt-3">
    <% @members.each do |member| %>
    <div class="my-box col-sm-3">
      <%= link_to member_path(member) do %>
        <%= attachment_image_tag member, :profile_image, :fill, 120, 120, fallback: "no_image.jpg", size:'120x120' ,class: 'rounded-circle' %>
      <% end %>
      <p><%= member.name %></p>
    </div>
    <% end %>
  </div>
  <%= paginate @members %>
</div>

