<h2>ユーザー一覧</h2>

<% if flash[:alert] %>
  <p id="alert">
    <%= flash[:alert] %>
  </p>
<% end %>

<% @members.each do |member| %>
<div>
  <%= link_to member_path(member) do %>
    <%= attachment_image_tag member, :profile_image, :fill, 120, 120, format: 'jpeg', fallback: "no_image.jpg" %>
  <% end %>
  <%= member.name %>
</div>
<% end %>

<%= paginate @members %>