<div class="mypage-container mx-auto mt-5" style="width: 20%;">
  <h2 class="mypage-name"><%= @member.name %></h2>
  <%= attachment_image_tag @member, :profile_image, :fill, 250, 250, fallback: "no_image.jpg", size:'250x250', class:'rounded-circle' %><br>
  <%= @member.introduction %>

  <% if @member.id == current_member.id %>
  <p><%= link_to "プロフィール編集", edit_member_path(@member) %></p>
  <% end %>
  <% if current_member != @member %>
    <% if current_member.following?(@member) %>
      <%= link_to 'フォロー外す', member_relationships_path(@member), method: :delete, class: "btn btn-secondary" %>
    <% else %>
      <%= link_to 'フォローする', member_relationships_path(@member), method: :post, class: "btn btn-primary" %>
    <% end %>
  <% end %>

  <p>
    <%= link_to follows_member_path(@member) do %>
      <%= @member.follower.count %>follows
    <% end %>
  </p>
  <p>
    <%= link_to followers_member_path(@member) do %>
      <%= @member.followed.count %>followers
    <% end %>
  </p>
  <%= link_to 'favorites', favorites_member_path %>
</div>



<div class="container mx-auto" style="width: 80%;">

    <h3 class="d-inline-flex p-2 bd-highlight"><%= @member.name %>'s posts</h3>
    <div class="row row-cols-4">
      <% @posts.each do |post| %>
      <div class="cols">
        <%= attachment_image_tag post, :image, :fill, 120, 120, format: 'jpeg', fallback: "unnamed.jpg", size:'120x120' %>
        <p><%= link_to post_path(post) do %>
            <%= post.movie %>
          <% end %>
          </p>
      </div>
      <% end %>
    </div>

</div>


<%= paginate @posts %>