<div class="mypage-container">
  <h3 class="mypage-name"><%= @member.name %></h3>
  <%= attachment_image_tag @member, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %><br>
  <%= @member.introduction %>

  <% if @member.id == current_member.id %>
  <p><%= link_to "プロフィール編集", edit_member_path(@member) %></p>
<% end %>
</div>



<div class="container">
  
    <h3 class="d-inline-flex p-2 bd-highlight">All Posts</h3>
    <div class="d-flex bd-highlight">
      <% @posts.each do |post| %>
      <div class="p-2 flex-fill bd-highlight">
        <%= attachment_image_tag post, :image, :fill, 120, 120, format: 'jpeg', fallback: "unnamed.jpg", size:'120x120' %>
        <p>映画：
          <%= link_to post_path(post) do %>
            <%= post.movie %>
          <% end %>
          </p>
        <p>ひとこと：<%= post.title %></p>
      </div>
      <% end %>
    </div>
 
</div>


<%= paginate @posts %>