<div class="container mt-5 mb-2">
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h3>Contact us</h3>

    <%= form_for @inquiry, :url => inquiry_thanks_path do |f| %>
      <table class="table">
        <tr>
          <td>name</td>
          <td>
            <%= f.hidden_field :name %>
            <%= @inquiry.name %>
          </td>
        </tr>
        <tr>
          <td>mail address</td>
          <td>
            <%= f.hidden_field :email %>
            <%= @inquiry.email %>
          </td>
        </tr>
        <tr>
          <td>content</td>
          <td>
            <%= f.hidden_field :message %>
            <%= simple_format(@inquiry.message) %>
          </td>
        </tr>
      </table>
      <%= f.submit 'send', :class => 'btn btn-outline-primary' %>
    <% end %>
    </div>
  </div>
</div>
