<div class="container mt-5 mb-2">
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h3>Contact us</h3>
    <% if @inquiry.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <strong>入力内容にエラーがあります</strong>
        <ul>
          <% @inquiry.errors.each do |attr, msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_for @inquiry, :url => inquiry_confirm_path do |f| %>
      <table class="table">
        <tr>
          <td>name<br><span class="text-danger">（必須）</span></td>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <td>mail address<span class="text-danger">（必須）</span></td>
          <td><%= f.text_field :email %></td>
        </tr>
        <tr>
          <td>content</td>
          <td><%= f.text_area :message, size:'25x10' %></td>
        </tr>
      </table>
      <%= f.submit 'next', class: 'btn btn-outline-primary' %>
    <% end %>
    </div>
  </div>
</div>
