<!DOCTYPE html>
<html>
  <head>
    <title>My Movie Life</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.0/swiper-bundle.css" integrity="sha512-zamNaJKO5w/Mas6MRe/0y1k2iI0oBLkU/z4yXcXSuAiOEBYqahjU6uOWq3r5z491YZexyUbPOrQKMpaAS8PI+w==" crossorigin="anonymous" />
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.0/swiper-bundle.min.js" integrity="sha512-VfcksjYXPZW36rsAGxeRGdB0Kp/htJF9jY5nlofHtRtswIB+scY9sbCJ5FdpdqceRRkpFfHZ3a9AHuoL4zjG5Q==" crossorigin="anonymous"></script>

  </head>

  <body>
    <header><%= render 'layouts/header' %></header>
    <main><%= yield %></main>
    <footer>
      <p class="footer-text">©2021 MyMovieLife All Rights Reserved.</p>
    </footer>
  </body>
</html>

